ContactView works!
<!--<form>-->
  <!--<label for="firstname">Firstname</label>-->
  <!--<input id="firstname" class="inline-editable" [(ngModel)]="contact.firstname" name="firstname">-->

  <!--<label for="lastname">Lastname</label>-->
  <!--<input id="lastname" class="inline-editable" [(ngModel)]="contact.lastname" name="lastname">-->

  <!--<label for="street">Street</label>-->
  <!--<input id="street" class="inline-editable" [(ngModel)]="contact.street" name="street">-->

  <!--<label for="city">City</label>-->
  <!--<input id="city" class="inline-editable" [(ngModel)]="contact.city" name="city">-->

  <!--<label for="email">Email</label>-->
  <!--<input id="email" class="inline-editable" [(ngModel)]="contact.email" name="email">-->

  <!--<label for="phone">Phone</label>-->
  <!--<input id="phone" class="inline-editable" [(ngModel)]="contact.phone" name="phone">-->
<!--</form>-->
<!--<button (click)="onSave()">Save</button>-->
