<form [formGroup]="form" autocomplete="off">
  <label for="firstname">Firstname *</label>
  <input id="firstname" class="inline-editable" [formControlName]="FIRSTNAME">

  <label for="lastname">Lastname *</label>
  <input id="lastname" class="inline-editable" [formControlName]="LASTNAME">

  <label for="street">Street *</label>
  <input id="street" class="inline-editable" [formControlName]="STREET">

  <label for="city">City *</label>
  <input id="city" class="inline-editable" [formControlName]="CITY">

  <label for="email">Email</label>
  <input id="email" class="inline-editable" [formControlName]="EMAIL">

  <label for="phone">Phone</label>
  <input id="phone" class="inline-editable" [formControlName]="PHONE">

  <a [wbRouterLink]="{entity: 'joke'}">Show joke!</a>

</form>
