@import 'theme';

:host {
  display: flex;
  flex-direction: column;
  padding: app-padding();

  > form {
    flex: none;
    display: grid;
    grid-template-columns: minmax(80px, 120px) auto;
    grid-column-gap: 1em;
    grid-row-gap: .5em;
    grid-template-rows: auto;

    border: 1px solid accentColor(.25);
    border-radius: 5px;
    padding: 1em;
    @include grid-container-align-items(center);
  }

  > button {
    margin-top: .5em;
  }
}
